{% extends 'base.html.twig' %}

{% block title %}IMART Immo - Mentions-légales!{% endblock %}

{% block body %}
<div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding push mt-5" style="padding: 0;">
          <div class="container" style="margin-bottom: 10%;">
	<h1 class="text-center">MENTIONS LEGALES</h1>
		<h2 class="text-center" style="margin-bottom: 100px;">Immo Lart Immobilier</h2>
		
		<h2>I. CONDITIONS GÉNÉRALES D'UTILISATION</h2>

		<h3>ARTICLE 1. INFORMATIONS LÉGALES</h3>
		<p>En vertu de l'article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.<br>
		Le site immolart.codev-web.net est édité par : <br>
		Agence Codev-web, dont le siège siège social est situé à l'adresse suivante : 1 place du Maréchal de Lattre de Tassigny 03000 MOULINS, et immatriculée au RCS Clermont-Ferrand 480 038546.<br>
		Téléphone : 07 69 76 34 32 <br>
		Adresse e-mail : <a href="mailto:contact@codev-web.fr">contact@codev-web.fr</a>.</p>

		<p>Le directeur de publication du site est : Monsieur Bob Gizzmo en sa qualité de gérant de l'entreprise Immo Lart Immobilier.</p>

		<p>Le site immolart.codev-web.net est hébergé par : <br>
		SAS OVH, dont le siège est situé à l'adresse ci-après : <br>
		2 rue Kellermann 59100 ROUBAIX FRANCE <br>
		Numéro de téléphone : 09 72 10 10 07</p>

		<h3>ARTICLE 2. PRÉSENTATION DU SITE</h3>
		<p>Le site immolart.codev-web.net a pour objet :<br>
		Présentation de ses différentes activités <br>
		Mise en avant de ses articles</p>

		<h3>ARTICLE 3. CONTACT</h3>
		<p>Pour toute question ou demande d'information concernant le site, ou tout signalement de contenu ou d'activités illicites, l'utilisateur peut contacter l'éditeur à l'adresse e-mail suivante: <a href="mailto:contact@immolart.codev-web.net">contact@immolart.codev-web.net</a> ou adresser un courrier recommandé avec accusé de réception à : Immo Lart Immobilier 67, rue d'Allier 03000 Moulins
		03 000 Moulins</p>

		<h3>ARTICLE 4. ACCEPTATION DES CONDITIONS D'UTILISATION</h3>
		<p>L'accès et l'utilisation du site sont soumis à l'acceptation et au respect des présentes Conditions Générales d'Utilisation.
		L'éditeur se réserve le droit de modifier, à tout moment et sans préavis, le site et des services ainsi que les présentes CGU, notamment pour s'adapter aux évolutions du site par la mise à disposition de nouvelles fonctionnalités ou la suppression ou la modification de fonctionnalités existantes.<br>
		Il est donc conseillé à l'utilisateur de se référer avant toute navigation à la dernière version des CGU, accessible à tout moment sur le site. En cas de désaccord avec les CGU, aucun usage du site ne saurait être effectué par l'utilisateur.</p>

		<h3>ARTICLE 5. ACCÈS ET NAVIGATION</h3>
		<p>L'éditeur met en œuvre les solutions techniques à sa disposition pour permettre l'accès au site 24 heures sur 24, 7 jours sur 7. Il pourra néanmoins à tout moment suspendre, limiter ou interrompre l'accès au site ou à certaines pages de celui-ci afin de procéder à des mises à jours, des modifications de son contenu ou tout autre action jugée nécessaire au bon fonctionnement du site.
		La connexion et la navigation sur le site immolart.codev-web.net valent acceptation sans réserve des présentes Conditions Générales d'Utilisation, quelques soient les moyens techniques d'accès et les terminaux utilisés.<br>
		Les présentes CGU s'appliquent, en tant que de besoin, à toute déclinaison ou extension du site sur les réseaux sociaux et/ou communautaires existants ou à venir.</p>

		<h3>ARTICLE 6. GESTION DU SITE</h3>
		<p>Pour la bonne gestion du site, l'éditeur pourra à tout moment :
		Suspendre, interrompre ou limiter l'accès à tout ou partie du site, réserver l'accès au site, ou à certaines parties du site, à une catégorie déterminée d'internaute ;<br>
		Supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette ;<br>
		Suspendre le site afin de procéder à des mises à jour.</p>

		<h3>ARTICLE 7. RESPONSABILITÉS</h3>
		<p>L'éditeur n'est responsable que du contenu qu'il a lui-même édité.
		L'éditeur n'est pas responsable :
		En cas de problématiques ou défaillances techniques, informatiques ou de compatibilité du site avec un matériel ou logiciel quel qu'il soit.<br>
		Des dommages directs ou indirects, matériels ou immatériels, prévisibles ou imprévisibles résultant de l'utilisation ou des difficultés d'utilisation du site ou de ses services.<br>
		Des caractéristiques intrinsèques de l'Internet, notamment celles relatives au manque de fiabilité et au défaut de sécurisation des informations y circulant.<br>
		Des contenus ou activités illicites utilisant son site et ce, sans qu'il en ait pris dûment connaissance au sens de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique et la Loi n°2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard de traitement de données à caractère personnel.<br>
		Par ailleurs, le site ne saurait garantir l'exactitude, la complétude, et l'actualité des informations qui y sont diffusées.
		L'utilisateur est responsable :<br>
		De la protection de son matériel et de ses données.<br>
		De l'utilisation qu'il fait du site ou de ses services.<br>
		S'il ne respecte ni la lettre, ni l'esprit des présentes CGU.</p>

		<h3>ARTICLE 8. LIENS HYPERTEXTES</h3>
		<p>Le site peut contenir des liens hypertextes pointant vers d'autres sites internet sur lesquels immolart.codev-web.net n'exerce pas de contrôle. Malgré les vérifications préalables et régulières réalisés par l'éditeur, celui-ci décline tout responsabilité quant aux contenus qu'il est possible de trouver sur ces sites.<br>
		L'éditeur autorise la mise en place de liens hypertextes vers toute page ou document de son site sous réserve que la mise en place de ces liens ne soit pas réalisée à des fins commerciales ou publicitaires.<br>
		En outre, l'information préalable de l'éditeur du site est nécessaire avant toute mise en place de lien hypertexte.
		Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.<br>
		Enfin, immolart.codev-web.net se réserve le droit de faire supprimer à tout moment un lien hypertexte pointant vers son site, si le site l'estime non conforme à sa politique éditoriale.</p>

		<h3>ARTICLE 9. CONFIDENTIALITE</h3>


		<h4>1. DONNEES COLLECTEES ET TRAITEES, ET MODE DE COLLECTION DES DONNEES</h4>
		<p>Conformément aux dispositions de l'article 5 du Règlement européen 2016/679, la collecte et le traitement des données des utilisateurs du site respectent les principes suivants :<br>
		Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ses données sont collectées, et pour quelles raisons ses données sont collectées ;<br>
		Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans les présentes conditions générales d'utilisation ;<br>
		Minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées ;<br>
		Conservation des données réduites dans le temps : les données sont conservées pour une durée limitée, dont l'utilisateur est informé. Si la durée de conservation ne peut être communiquée à l'utilisateur ;<br>
		Intégrité et confidentialité des données collectées et traitées : le responsable du traitement des données s'engage à garantir l'intégrité et la confidentialité des données collectées.</p>

		<p>Afin d'être licite, et ce conformément aux exigences de l'article 6 du règlement européen 2016/679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées :
		L'utilisateur a expressément consenti au traitement ;<br>
		Le traitement est nécessaire à la bonne exécution d'un contrat;<br>
		Le traitement répond à une obligation légale;<br>
		Le traitement s'explique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique;<br>
		Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité publique;<br>
		Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.</p>

		<p>Les données à caractère personnel collectées sur le site immolart.codev-web.net sont les suivantes :<br>
		- Nom<br>
		- Prénom<br>
		- Adresse<br>
		- Téléphone<br>
		- Adresse mail<br>
		- Age<br>
		- Genre<br>
		Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations suivantes sur le site :<br>
		Lorsque le l'utilisateur navigue sur le site.<br>
		Lorsque l'utilisateur envoi un mail à partir du site. <br>
		Par ailleurs, lors de l'achat d'un produit sur le site, il est porté à la connaissance de l'utilisateur que le vendeur conservera dans ses systèmes informatiques une preuve de la transaction comprenant le bon de commande et la facture.<br>
		Le responsable du traitement conservera dans ses systèmes informatiques du site et dans des conditions raisonnables de sécurité l'ensemble des données collectées pour une durée de : illimitée, à moins que l'utilisateur n'en demande la suppression avant l'expiration de cette durée.<br>
		Lorsque les données à caractère personnel sont enregistrées, l'utilisateur est informé de la durée pour laquelle ses données seront conservées, et lorsque cette durée ne peut être précisée, l'éditeur du site l'informe des critères utilisés pour la déterminer.<br>
		La collecte et le traitement des données répondent aux finalités suivantes :<br>
		Les données enregistrées sur le site servent à des fins de confort de l'expérience utilisateur.<br>
		Pour pré-remplir les différents formulaires par exemple ou facilité le contact dans le cadre d'une vente.</p>


		<h4>2. HEBERGEMENT DES DONNEES</h4>
		<p>Tel que mentionné plus haut, le site immolart.codev-web.net est hébergé par : SAS OVH, dont le siège est situé à l'adresse ci-après :
		2 rue Kellermann 59100 ROUBAIX FRANCE<br>
		L'hébergeur peut être contacté au numéro de téléphone suivant : 09 72 10 10 07 <br>
		Les données collectées et traitées par le site sont exclusivement hébergées et traitées en France. </p>


		<h4>3. LE RESPONSABLE DU TRAITEMENT DES DONNÉES</h4>
		<p>La responsable du traitement des données à caractère personnel est : Monsieur Bob Gizzmot. Elle peut être contacté de la manière suivante :<br>
		La responsable du traitement des données peut être contacté par téléphone au 04 70 20 56 26 et par e-mail à <a href="mailto:contact@immolart.codev-web.net">contact@immolart.codev-web.net</a>.</p>


		<h4>4. LE DELEGUE A LA PROTECTION DES DONNEES</h4>
		<p>La personne suivante a été nommée Délégué à la Protection des Données : Monsieur Bob Gizzmot.
		Le délégué à la protection des données peut être joint de la manière suivante :<br>
		Par e-mail à l'adresse <a href="mailto:contact@immolart.codev-web.net">contact@immolart.codev-web.net</a></p>


		<h4>5. DONNEES PERSONNELLES DES PERSONNES MINEURES</h4>
		<p>Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi Informatique et Libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitement de leurs données personnelles.<br>
		Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que des données à caractère personnel puissent être collectées et traitées. </p>


		<h4>6. DROITS DE L'UTILISATEUR ET PROCÉDURES DE MISE EN OEUVRE DES DROITS DE L'UTILISATEUR</h4>
		<p>Conformément à la réglementation concernant le traitement des données à caractère personnel, l'utilisateur possède les droits ci-après énumérés.<br>
		Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer : ses prénom et nom ainsi que son adresse e-mail, et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné.<br>
		Le responsable du traitement des données est tenu de répondre à l'utilisateur dans un délai de 30 (trente) jours maximum.</p>
		<h5>a. Droit d'accès, de rectification et droit à l'oubli</h5>
		<p>L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant, en respectant la procédure ci-après énoncée :<br>
		L'utilisateur peut à tout moment prendre connaissance, modifier, ou supprimer ses données personnelles en envoyant un e-mail à l'adresse <a href="mailto:contact@immolart.codev-web.net">contact@immolart.codev-web.net</a>. <br>
		<h5>b. Droit à la portabilité des données</h5>
		<p>l'utilisateur a le droit de demander la portabilité de ses données personnelles, détenues par le site, vers un autre site, en se conformant à la procédure ci-après :<br>
		L'utilisateur peut à tout moment demander ses données personnelles en envoyant un e-mail et en précisant l'objet de sa demande à l'adresse mail suivante : <a href="mailto:contact@immolart.codev-web.net">contact@immolart.codev-web.net</a></p>
		<h5>c. Droit à la limitation et à l'opposition du traitement des données</h5>
		<p>Enfin, l'utilisateur a le droit de demander la limitation ou de s'opposer au traitement de ses données par le site, sans que le site ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'utilisateur.</p>
		<h5>d. Droit de déterminer le sort des données après la mort</h5>
		<p>Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir de ses données collectées et traitées s'il décède, conformément à la loi n°2016-1321 du 7 octobre 2016.</p>
		<h5>e. Droit de saisir l'autorité de contrôle compétente </h5>
		<p>Dans le cas où le responsable du traitement des données décide de ne pas répondre à la demande de l'utilisateur, et que l'utilisateur souhaite contester cette décision, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique et des Libertés, https://www.cnil.fr) ou tout juge compétent.</p>

		<h4>7. OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES</h4>
		<p>Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ait été informé et à respecter les finalités pour lesquelles ces données ont été collectées.<br>
		Le site dispose d'un certificat SSL afin de garantir que les informations et le transfert des données transitant par le site sont sécurisés. <br>
		De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraîne pour lui des formalités, coûts et démarches disproportionnés.<br>
		Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'utilisateur est compromise, le responsable du traitement s'engage à informer l'utilisateur par tout moyen.</p>

		<h3>ARTICLE 10. COOKIES</h3>

		<h4>1. CONSENTEMENT DE L'UTILISATEUR A L'UTILISATION DE FICHIERS "COOKIES" PAR LE SITE</h4>
		<p>Le site a éventuellement recours aux techniques de "cookies" lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur. Pour l'utilisation de fichiers "cookies" impliquant la sauvegarde et l'analyse de données à caractère personnel, le consentement de l'utilisateur est nécessairement demandé.
		Ce consentement de l'utilisateur est considéré comme valide pour une durée de 13 (treize) mois maximum. A l'issue de cette période, le site demandera à nouveau l'autorisation de l'utilisateur pour enregistrer des fichiers "cookies" sur son disque dur.</p>

		<h4>2. OPPOSITION DE L'UTILISATEUR A L'UTILISATION DE FICHIERS "COOKIES" PAR LE SITE</h4>
		<p>Il est porté à la connaissance de l'utilisateur qu'il peut s'opposer à l'enregistrement de ces "cookies" en configurant son logiciel de navigation.<br>
		Dans le cas où l'utilisateur décide de désactiver les fichiers "cookies", il pourra poursuivre sa navigation sur le site. Toutefois, tout dysfonctionnement du site provoqué par cette manipulation ne pourrait être considéré comme étant du fait de l'éditeur du site.</p>

		<h4>3. DESCRIPTION DES FICHIERS "COOKIES" UTILISES PAR LE SITE</h4>
		<p>L'éditeur du site attire l'attention de l'utilisateur sur le fait que les cookies suivants sont utilisés lors de sa navigation :<br>
		 - Cookie :<br>
		 <span style="margin-left:2%">_ga; Émetteur : Immo Lart Immobilier.</span><br>
		 <span style="margin-left:2%">Finalité : Cookie utilisé à des fins d'analyse de la fréquentation du site</span><br>
		 - Cookie :<br>
		 <span style="margin-left:2%">_gat; Émetteur : Immo Lart Immobilier.</span><br>
		 <span style="margin-left:2%">Finalité : Cookie utilisé à des fins d'analyse de la fréquentation du site</span><br>
		 - Cookie :<br>
		 <span style="margin-left:2%">_gid; Émetteur : Immo Lart Immobilier.</span><br>
		 <span style="margin-left:2%">Finalité : Cookie utilisé à des fins d'analyse de la fréquentation du site</span></p>

		<h3>ARTICLE 11. PROPRIÉTÉ INTELLECTUELLE</h3>
		<p>La structuration du site mais aussi les textes, graphiques, images, photographies, sons, vidéos et applications informatiques qui le composent sont la propriété de l'éditeur et sont protégés comme tels par les lois en vigueur au titre de la propriété intellectuelle.
		Toute représentation, reproduction, adaptation ou exploitation partielle ou totale des contenus, marques déposées et services proposés par le site, par quelque procédé que ce soit, sans l'autorisation préalable, expresse et écrite de l'éditeur, est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L. 335-2 et suivants du Code de la propriété intellectuelle. Et ce, à l'exception des éléments expressément désignés comme libres de droits sur le site.<br>
		L'accès au site ne vaut pas reconnaissance d'un droit et, de manière générale, ne confère aucun droit de propriété intellectuelle relatif à un élément du site, lesquels restent la propriété exclusive de l'éditeur.<br>
		Il est interdit à l'utilisateur d'introduire des données sur le site qui modifieraient ou qui seraient susceptibles d'en modifier le contenu ou l'apparence.</p>

		<h3>ARTICLE 12. LOI APPLICABLE ET JURIDICTION COMPÉTENTE</h3>
		Les présentes Conditions Générales d'Utilisation sont régies par la loi française. En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.
		Le site immolart.codev-web.net vous souhaite une excellente navigation !
		
</div>    </div>
{% endblock %}
