{% extends 'base.html.twig' %}

{% block title %}IMART Immo - La team{% endblock %}

{% block body %}
<section class="container teamSection">
    <h2 class="h1 text-center mt-5 mb-5">La team Immo Lart</h1>
    <div class="row">
        <article class="col-12 col-sm-4 offset-sm-4">
            <h3 class="text-center">Les patrons</h3>
            <div class="p-3">
                <img src="https://guiguiaupiedbossu.weebly.com/uploads/3/0/9/5/30951427/7201150_orig.jpg" alt="" class="w-100">
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum magni animi labore neque commodi eligendi, nobis adipisci qui alias a eaque deserunt ut doloremque, libero architecto voluptate quae soluta aperiam?</p>
            </div>
        </article>
    </div>
    <div class="row">
        <h3 class="h2 text-center col-12">Les gars d'en dessous</h3>
        <article class="col-12 col-sm-4 offset-sm-2">
            <h3 class="text-center">Pommes</h3>
            <div class="p-3">
                <img src="https://picsum.photos/id/1062/4951/3301" alt="" class="w-100">
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum magni animi labore neque commodi eligendi, nobis adipisci qui alias a eaque deserunt ut doloremque, libero architecto voluptate quae soluta aperiam?</p>
            </div>
        </article>
        <article class="col-12 col-sm-4">
            <h3 class="text-center">Deterres</h3>
            <div class="p-3">
                <img src="https://picsum.photos/id/1025/4951/3301" alt="" class="w-100">
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum magni animi labore neque commodi eligendi, nobis adipisci qui alias a eaque deserunt ut doloremque, libero architecto voluptate quae soluta aperiam?</p>
            </div>
        </article>
    </div>
    <div class="row">
        <h3 class="h2 text-center col-12">Les gars d'encore en d'ssous</h3>
        <article class="col-12 col-sm-4">
            <h3 class="text-center">Pomme</h3>
            <div class="p-3">
                <img src="https://picsum.photos/id/1084/4951/3301" alt="" class="w-100">
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum magni animi labore neque commodi eligendi, nobis adipisci qui alias a eaque deserunt ut doloremque, libero architecto voluptate quae soluta aperiam?</p>
            </div>
        </article>
        <article class="col-12 col-sm-4">
            <h3 class="text-center">Deux</h3>
            <div class="p-3">
                <img src="https://picsum.photos/id/103/4951/3301" alt="" class="w-100">
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum magni animi labore neque commodi eligendi, nobis adipisci qui alias a eaque deserunt ut doloremque, libero architecto voluptate quae soluta aperiam?</p>
            </div>
        </article>
        <article class="col-12 col-sm-4">
            <h3 class="text-center">Pains</h3>
            <div class="p-3">
                <img src="https://picsum.photos/id/275/4951/3301" alt="" class="w-100">
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum magni animi labore neque commodi eligendi, nobis adipisci qui alias a eaque deserunt ut doloremque, libero architecto voluptate quae soluta aperiam?</p>
            </div>
        </article>
    </div>
</section>
{% endblock %}
